*{text-decoration: none;}

.navbar{background: #FF8CBB; padding-right: 15px; padding-left: 15px; opacity:0.4; border-radius: 15px;
        margin:20px;}
}

.navdiv{display: flex; align-items: center; justify-content: space-between;}

.logo a{font-size: 35px; font-weight: 600; color: white;}

li{list-style: none; display: inline-block;}

li a{color: white; font-size: 18px; font-weight: bold; margin-right: 25px;}

.bg-img {
  background-image: url("images/BearBella.png");
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
}
